h1 { 
  font-size: 50px;
  color: red;
}

.broccoli{
  background-color: green;
}

/*
.bacon{
  background-color: red;
}*/

#baconid {
  background-color: red;
}

#baconid:hover{
  background-color: gold;
}